/* Header */
@media (max-width: 960px) {

  .logo{
    min-width: 148px;
    min-height: 54px;
  }

  .menu-item{
    margin: 0 10px;
  }

}

@media (max-width: 768px){

  .logo{
    max-width: 148px;
    max-height: 54px;
  }

  .search-img{
    max-width: 25px;
    max-height: 25px;
  }

  .call{
    display: none;
  }

  .search-input{
    position: absolute;
    max-width: 155px;
    max-height: 32px;
    margin-left: 40px;
    transition: 0.2s 
  }

  .nav2{
    border-top: 1px solid #005C9D;
  }

  .menu-list{
    display: none;
  }

  .menu-icon{
    display: initial;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    transition: 0.2s;
  }

  .bar {
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
    height: 2px;
    background-color: #005C9D;
    transition: 0.2s;
  }

  .bar:first-child{
    top: 0;
  }

  .bar:last-child{
    top: auto;
    bottom: 0;
  }

  .popup {
    position: fixed;
    top: 140px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }
     
  .popup .menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-left: 25px;
    overflow: auto;
  }
     
  .popup .menu-list > li {
    width: 100%;
  }
     
  .menu-link {
    max-width: 117px;
    display: flex;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #005C9D;
    text-transform: uppercase;
  }
     
  .popup .menu-list > li > a:hover {
    text-decoration: underline;
  }

  .menu-icon.active{
    background-color: #fff;
  }

  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
     
  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
     
  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
 
  body.noscroll {
    overflow: hidden;
}
}

@media(max-width: 390px){

  .header{
    padding-top: 10px;
  }
    
  .language-img{
    display: none;
  }

  .language-img-mobile{
    padding: 8px 5px 0px 0px;
    display: initial;
  }

  .search-img{
    margin-left: 5px;
    margin-top: 6px;
  }

  .search-input{
    border-radius: 5px;
    margin-left: 45px;
    padding-left: 7px;
    font-weight: 400;
    font-size: 14px;
    color: #A1A5A8;
  }

  .logo{
    margin: 15px 0px 0px 4px;
  }

  .nav1{
    margin-bottom: 12px;
  }

  .menu-icon{
    width: 25px;
    height: 18px;
    margin-right: 6px;
    margin-top: 10px;
  }

}


/* Section contact-us */
@media (max-width: 960px){

}

@media (max-width: 768px){

  .contact{
    /* max-height: 107px; */
    height: 107px;
    padding: 0px;
  }

  .text-contact{
    max-width: 450px;
    font-size: 16px;
  }

  .button-contact{
    min-width: 160px;
    min-height: 40px;
    font-weight: 700;
    font-size: 16px;
  }
}

@media(max-width: 576px){

  .text-contact{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }

  .button-contact{
    margin-right: 15px;
  }
}

@media(max-width: 476px){

  .text-contact{
    line-height: 15px;
    font-size: 12px;
  }

  .button-contact{
    margin-right: 5px;
    min-width: 123px;
    min-height: 35px;
    font-weight: 700;
    font-size: 12px;
  }
}

@media(max-width: 390px){

  .contact-us{
    margin-top: 8px;
}
  .text-contact{
    padding: 20px 0px 27px 5px;
  }

  .button-contact{
    margin-right: 7px;
    margin-bottom: 7px;
  }
}


/* Section slider */
@media (max-width: 960px){

  .slider, .wrapper{
    max-height: 510px;
  }

  .title-banner{
    font-size: 36px;
  }
  .subtitle{
    font-size: 22px;
}

  .text-banner{
    margin-top: 60px;
  }

}

@media (max-width: 768px){

  .slider-item {
    /* max-height: 510px; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding-top: 0px;
  }

  .text-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    /* padding: 0 10px; */
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .title-banner{
    text-align: center;
  }

  .subtitle{
    text-align: center;
    margin: 14px 0px 35px 0px;
  }

  .img-banner{
    display: block;
    /* padding-right: 0px; */
    margin-bottom: 15px;
  }

  .banner{
    display: none;
  }

  .mobile-banner{
    display: block;
  }
  .slider-pagination{
    display: none;
  }
  .slider{
    background: linear-gradient(180deg, #E2F2FF 0%, rgba(246, 251, 255, 0) 100%);
  }

}

@media(max-width: 576px){
  .subtitle{
    max-width: 350px;
    font-weight: 400;
    font-size: 20px;
    margin: 10px 10px 25px 0px;
  }

  .button-style{
    width: 199px;
    height: 51px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;  
    font-family: 'Inter', sans-serif;
    font-style: normal;
    /* margin-right: 6px; */
  }

  .img-banner{
    margin-bottom: 25px;
  }
  .img-banner{
    margin-bottom: 25px;
  }

}

@media(max-width: 390px){

  .text-banner{
    max-width: 380px;
    margin-top: 17px;
  }

  .title-banner{
    width: 336px;
    font-weight: 600;
    font-size: 32px;
    margin-right: 15px;
  }

  .subtitle{
    margin: 10px 5px 35px 4px;
  }

  .img-banner{
    margin-bottom: 55px;
  }

  .slider{
    padding: 0px 0px;
  }

}


/* Section info-slider */
@media(max-width: 665px){
  .info-slider__card-list {
    padding-top: 15px;
  }
}
  
@media(max-width: 657px){
  .info-slider__card-list{
    align-items: center;
    padding-top: 29px;
  }    
  .item-text{
    width: 300px;
  }  
  .slider__card-link{
    padding: 350px 0px 0px 0px;
    left:30%
  }
  /* .slider__content{
    margin-top: 39px;
  } */
}
      
@media(max-width: 390px){   
  .item-text{
    width: 250px;
  }  
  .slider__card-link{
    padding: 350px 0px 0px 0px;
    left:15%
  }
}


/* Section section-results */

@media (max-width: 1109px){
  .results__row {
    max-height: 378px;
    justify-content: space-evenly;
  }
  .results__row--active{
    max-height: 750px;
  }
  .results {
    margin: 25px 0px;
  }
  .results__title{
    max-width: 800px;
    font-size: 28px;
    padding: 0px 0px 22px 0px;
    margin-bottom: 35px;
  }

  .results__button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 200;
    margin-top: 13px;
  }   

}

@media(max-width: 820px){ 

}

@media (max-width: 750px){
  .results__row {
    max-height: 348px;
  }
  .results__row--active{
    max-height: 1250px;
    transition: 0.5s;
  }
  .results__column {
    margin-bottom: 40px;
  }

}
      
@media(max-width: 576px){   
   
  .item-results__title {
    width: 60%;
    font-size: 20px;
    margin-bottom: 17px;
  }

  .item-results__text {
    font-weight: 400;
    font-size: 16px;
  }

  .results__title{
    font-size: 24px;
    padding: 0px 0px 19px 0px;
    margin: 0px 0px 26px 0px;
  }

}
      
@media(max-width: 390px){  
  .results__body{
    padding: 0px 22px;
  } 
  .results__row {
    max-height: 340px;
  }

  .results__row--active{
    max-height: 1200px;
    transition: 0.5s;
  }
     
  .results {
    margin: 24px 0px 18px 0px;
  }

  .results__column {
    margin-bottom: 37px;
  }

  .item-results__text {
    max-width: 349px;
  }

  
}


/* Section section-invitation */
      
@media (max-width: 768px){
  .section-invitation{
    height: 570px;
  }
  .invitation__title {
    padding: 55px 0px 25px 0px;
  }
  .invitation__subtitle {
    font-size: 24px;
    font-weight: 600;
    padding: 0px 5px 35px 5px; 
  }

  .invitation__list-item > p {
    font-size: 20px;
  }

  .invitation__list-item {
    padding-bottom: 25px;
  }
  .invitation__list {
    padding: 0px 0px 15px 40px;
  }
}
      
@media(max-width: 576px){  
  
  .invitation__title {
    padding: 45px 0px 15px 0px;
  }    

  .invitation__list {
    padding: 0px 0px 15px 30px;
  }
  
  .invitation__list-item > img {
    width: 25px;
    height: 25px;
  }
}

@media(max-width: 455px){    

  .invitation__title {
    font-size: 24px;
    padding: 47px 0px 17px 0px;
  }    

  .invitation__subtitle {
    font-size: 16px;
    padding: 0px 5px 25px 5px; 
  }

  .invitation__list-item {
    padding-bottom: 20px;
  }

  .invitation__list-item > p {
    font-size: 16px;
  }

  .section-invitation{
    height: 470px;
  }

  .invitation__link > a {
    padding-right: 10px;
    font-size: 20px;
  }

  .invitation__link > img {
    max-width: 40px;
  }

  .invitation__list {
    padding: 0px 0px 0px 15px;
  }

}

@media(max-width: 390px){   
  .section-invitation{
    height: 422px;
  }   

  .invitation__title {
    padding: 47px 30px 17px 0px;
  }

  .invitation__subtitle {
    font-size: 16px;
    padding: 0px 5px 21px 5px; 
  }

  .invitation__list {
    padding: 0px 0px 0px 5px;
  }

  .invitation__list-item > p {
    padding: 0px 0px 0px 15px;
  }

  .invitation__list-item {
    padding-bottom: 17px;
  }

}


/* Section blog */

@media (max-width: 1055px){

}

@media (max-width: 960px){

}

@media (max-width: 1100px){
  .section-blog{
    display: none;
  }
  .blog__slider{
    display: block;
    box-sizing: border-box;
  }
  .container-body{
    padding-top: 0px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
    .title-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
    
  .blog-titile {
    padding: 32px 0px 15px 0px;
  }  
  .blog__slider-content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
    overflow: hidden;
    margin-top: 30px;
  }

  .blog__card-item{
    width: 100%;
  }

  .blog__content-img > img {
    width: 100%;
  }

  .blog-pagination{
    position: relative;;
    /* margin-top: 21px; */
    margin: 21px 0px 15px 0px;
  }

}

@media (max-width: 850px){

  .blog__slider-content{
    padding: 0px 15px;
  }

  .blog__content-date{
    padding-top: 15px;
    max-width: 263px;
  }

  .blog__content-name{
    max-width: 263px; 
  }

  
}

@media(max-width: 576px){   
  
  .blog__content-name{
    max-width: 306px;
    font-size: 16px;
  }

}
      
@media(max-width: 390px){ 

  .blog__content-img {
    max-width: 306px;
    max-height: 192px;
  } 

  .title-style {
    font-size: 24px;
  }  

  .blog__slider-content {
    margin-top: 20px;
  }

}


/* Section our-results */

@media (max-width: 1340px){
  .results-content{
    height: 900px;
}
}

@media (max-width: 1200px){
  .results-content{
    height: 800px;
}
}

@media (max-width: 960px){
  .results-content{
    height: 650px;
}
}
      
@media (max-width: 768px){
  .results-content{
    height: 1280px;
}
.our-results__background{
  background: url("../images/our-results-midle.jpg") 50%/cover no-repeat ;
  background-size: contain;
}      
}

@media(max-width: 640px){   
  .results-content{
    height:  1100px;
}
}

@media(max-width: 540px){   
  .results-content{
    height:  950px;
}
}

@media(max-width: 470px){   
  .results-content{
    height:  850px;
}
}
      
@media(max-width: 390px){ 
  .results-content{
    height: 650px;
}
  /* .our-results__background{
    background: url("../images/our-results-mobile.jpg") 50%/cover no-repeat ;
}      */
}

/* Section our-clients */

@media (max-width: 960px){
  .our-clients{
    display: none;
  }
  .our__clients-slider{
    display: block;
  }

  .logo-row-top{
    display: flex;
    justify-content: space-evenly;
  }

  .logo-row-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }

  .our__clients-pagination{
    /* position: relative; */
    /* margin-bottom: 25px; */
  }

}
      
@media (max-width: 768px){
}
      
@media(max-width: 576px){ 

  .logo-square{
    max-width: 90px;
  }

  .logo-rectangle{
    max-width: 152px;
  }

  .our__clients-buttons{
    padding: 0px 15px;
  }

}
      
@media(max-width: 390px){   
  .our__clients-slider{
    margin-top: 46px;
    margin-bottom: 5px;
  }  
  .our-clients__title{
    margin-bottom: 49px;
  }
}




/* Section our-cases */

@media (max-width: 1095px){

  .slider__card-text{
    padding: 7px 20px 0px 20px;
  }

}
@media (max-width: 990px){

  .slider__card-text{
    padding: 7px 15px 0px 15px;
  }

}

@media(max-width: 657px){

  .cases-card{
    align-items: center;
  }

  .slider__card-text{
    max-width: 350px;
    padding: 10px 20px 0px 27px;
    /* margin: 0 auto; */
  }
}    
      
@media(max-width: 576px){ 
  .cases-title{
    padding-top: 37px;
    font-size: 24px;
  } 

  .our-cases{
    height: 515px;
  } 

  .cases-content{
    /* margin-top: 37px; */
    height: 350px;
  }
     
  .cases-card{
    height: 300px;
  }

  .cases-link{
    padding: 240px 0px 0px 27px;
  }

}
@media (max-width: 450px){

  .cases-card{
    align-items: flex-start;
  }
  .slider__card-text{
    max-width: 237px;
    font-size: 16px;
  }

}
      
@media(max-width: 390px){ 

  .our-cases{
    height: 464px;
  } 

  .cases-card{
    height: 285px;
  }    
  
  .cases-title{
    padding-top: 23px;
  }

  .cases-content{
    /* margin-top: 32px; */
  }

  .slider__card-logo{
    padding: 43px 0px 0px 20px;
    max-width: 117px;
  }
  .slider__card-text{
    padding: 8px 20px 0px 20px;
  }
  .cases-link {
    padding: 237px 0px 0px 20px;
  }

  .cases-pagination{
    margin-bottom: 23px;
  }

}


/* Section cooperation */

@media (max-width: 1100px){

  .card-item__list{
    padding: 23px 5px 0px 30px;
  }

}

@media (max-width: 1038px){

  .card-item__list > ul > li {
    padding-bottom: 16px;
  }
  .card-item__title{
    padding: 25px 0px 16px 0px;
  }
  .card-item__button{
    font-size: 20px;
  }

}

@media (max-width: 960px){

  .card-item__title{
    font-size: 20px;
    padding: 25px 0px 16px 0px;
  }

  .card-item__list {
    font-size: 18px;
  }

}
      
@media (max-width: 768px){
  
  .cooperation{
    display: none;
  }

  .cooperation__slider{
    display: block;
    max-width: 1920px;
    height: 656px;
    margin: 0 auto;
    border-bottom: 3px solid #005C9D;
  }
  .cooperation__slider-content{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
    overflow: hidden;
  }

  .cooperation__title{
    font-size: 24px;
    padding: 30px 0px 20px 0px;
    margin-bottom: 20px;
  }

  .cooperation__cards{
    margin-top: 30px;
  } 
  
  .cooperation-title{
    position: relative;
    max-width: 870px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #005C9D;
    padding: 15px 0px 20px 0px;
    margin: 0 auto;
    margin-bottom: 0px;
}
.cooperation-title::after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 280px;
    bottom: 0;
    height: 5px;
    background-color: #74D6F8;
    left: 0;
    right: 0;
    margin: 0 auto;
}

}
      
@media(max-width: 657px){  

  .card-item__list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 260px;
  }

}

@media(max-width: 576px){ 
  
  .cooperation__title{
    margin-bottom: 0px;
  }

  .cooperation__cards{
    margin-top: 29px;
  } 

  .card-item__button{
    font-size: 18px;
    margin-top: 20px;
    height: 83px;
  }

}
      
@media(max-width: 390px){  

  .cooperation__slider{
    height: 563px;
  }

  .card-size{
    height: 273px;
  }
  .card-item{
    min-width: 326px; 
   }
  
  .cooperation__slider-content {
    padding: 0px 0px;
  }
  .card-item__title {
    font-size: 20px;
    padding: 22px 0px 16px 0px;
}
  .card-item__list {
    padding: 15px 5px 0px 19px;
    max-width: 275px;
  }
  .card-item__list > ul > li {
    padding-bottom: 18px;
  }

  .cooperation-title::after {
    width: 190px;
  } 
}


/* Section contact-footer */

@media (max-width: 1050px){

  .column__company{
    padding-left: 25px;
  }

  .column__platform{
      padding-left: 55px;
  }

  .column__partners{
      padding-left: 60px;
  }

}

@media (max-width: 1001px){

  .column__company{
    padding-left: 20px;
  }

  .column__platform{
      padding-left: 35px;
  }

  .column__partners{
      padding-left: 40px;
  }
}

@media (max-width: 960px){

  .column__company{
    padding-left: 10px;
  }

  .column__platform{
    padding-left: 15px;
  }

  .column__partners{
    padding-left: 15px;
  }
  .column__title{
    height: 81px;
  }
  .column__menu{
    padding-top: 0px;
}

}
      
@media (max-width: 768px){

  .column__company{
    padding-left: 5px;
  }

  .column__platform{
    padding-left: 5px;
  }

  .column__partners{
    padding-left: 10px;
  }
  .column__study{
    padding-left: 10px;
  }
  
  .column__title{
    font-size: 16px;
  }

  .cloumn__contact{
    min-width: 235px;
  }

  .location{
    font-size: 14px;
    max-width: 200px;
  }

}
      
@media(max-width: 675px){  

  .footer-list{
    display: none;
  }

  .footer-list-mobile{
    display: initial;
  }

  .contact__columns{
    display: flex;
    justify-content: space-evenly;
  }

  .column__mobile-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .column__mobile-title{
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #005C9D;
    padding-left: 10px;
  } 
  
  .column__mobile-item-popup{
    position: relative;
  }

  .popup-list.open-list{
    position: absolute;
    right: 0;
    top: 50px;
    width: 185px;
    /* height: 190px; */
    background-color: #fefefe;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    z-index: 100;
    display: flex;
    transition: 1.5s;
  }

  .popup-list .column__menu {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: 0;
  }

  .column__menu{
    padding-top: 15px;
  }

}
      
@media(max-width: 452px){ 
  .contact-footer{
    display: none;
  }
  .contact__footer-small{
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #005C9D;
  }
  .contact__columns{
    justify-content: flex-start;
    padding-top: 14px;
  }

  .logo-footer{
    max-width: 103px;
    max-height: 38px;
    margin: 13px 0px 8px 6px;
  }

  .column__mobile-item{
    padding: 0px 0px 5px 10px;
  }

  .column__mobile-title{
    font-size: 16px;
    padding-left: 15px;
  } 

  .cloumn__contact-location {
    margin-top: 22px;
  }

  .popup-list.open-list{
    top: 25px;
    /* width: 250px; */
    width: 200px;
  }

  .location{
    max-width: 230px;
    margin-left: 10px;
  }

  .cloumn__contact-social{
    padding-top: 22px;
    padding-left: 8px;
  }

  .mail, .chat {
    font-size: 14px;
    margin-left: 10px;
  }

  .cloumn__contact-chat {
    margin-bottom: 20px;
  }

}
      
@media(max-width: 390px){ 

}




/* Section footer */

@media (max-width: 1000px){
  .group1{
    padding-left: 120px;
  }
  .group2{
  padding-left: 30px;
  }
}
      
@media (max-width: 840px){
  .group1{
    padding-left: 20px;
  }
  .group2{
  padding-left: 10px;
  }
}
      
@media(max-width: 720px){ 
  .footer__content{
    flex-direction: column;
  }
  .footer__reserved{
    padding: 30px 0px 0px 10px;
  }
  .group1{
    padding-left: 10px;
    margin-top: 23px;
  }
  .group2{
    padding-left: 10px;
  }
  .footer__link-group{
    padding-top: 0px;
  }
  .footer__link-group > ul > li {
    padding-bottom: 15px;
  }
}
      
@media(max-width: 390px){  
  .footer__reserved{
    padding: 23px 0px 0px 5px;
    font-size: 14px;
  }
  .group1{
    padding-left: 7px;
    margin-top: 25px;
  }
  .group2{
    padding-left: 7px;
  }

  .footer__link-group > ul > li {
    padding-bottom: 10px;
  }    
}












