html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style-type: none;
}
ul { 
    padding-inline-start: 0; 
    margin: 0;
}


img {
	max-width: 100%;
	object-fit: cover;
}
