.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    max-width: 1920px;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav1{
    margin-bottom: 15px;
}
.logo-img{
    max-height: 79px;
}

.menu-list{
    display: flex;
    padding: 0 15px;
}
.menu-item{
    margin-left: 40px;
}

.menu-link:hover{
    color: #005C9D;
}

.language-img-mobile,
.menu-icon,
.popup,
.popup-language {
    display: none;
}

.language-popup {
    display: flex;
    align-items: center;
}

.selected-lang {
    color: #005C9D;
    font-size: 16px;
    margin-right: 10px;
    padding-bottom: 2px;
}

.search-input{
    width: 281px;
    height: 40px;
    border-radius: 10px;
    padding-left: 18px;
    border: 2px solid #ddd;
    margin-left: 31px;
    font-size: 18px;
    color:  #A1A5A8;
}

.search-input:focus{
    outline: #C6C6C6;
    color:  #000;
}

.call {
    font-size: 16px;
    font-weight: bold;
    color: #005C9D;
    text-decoration: underline;
    padding: 10px 33px;
    display: inline-block;
}

.call:hover{
    color: #078EEE;
}

.search-area {
    display: flex;
    align-items: center;
    padding: 10px 33px;
}

.contact-us{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #005C9D;
}

.container__contact{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    cursor: pointer;
}

.contact__content{
    box-sizing: border-box;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-contact{
    box-sizing: border-box;
    max-width: 768px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 10px;
    padding: 20px 0 20px 3px;
}

.button-contact{
    text-transform: uppercase;
    min-width: 206px;
    min-height: 47px;
    border-radius: 3px;
    background-color: #74D6F8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    margin-right: 30px;
}

.language-list{
    display: none;
}

.language-popup{
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding-top: 4px;
}

.popup-language.open-lang{
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: 50px;
    width: 183px;
    height: 252px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 19px rgba(0, 0, 0, .08);
    border-radius: 5px;
    z-index: 101;
    display: flex;
    transition: all .2s ease-in-out;
}

.popup-language .language-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: 0;
    transition: all .2s ease-in-out;
    padding: 17px 0 10px;
}

.language-item {
    width: 134px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.language-item:hover{
    color:  #078EEE;
}

.lang {
    margin: 0;
    padding-left: 28px;
}

/* Section results */

.section-results {
    max-width: 1920px;
    margin: 0 auto;
}

.results {
    margin: 72px 0 22px;
}

.results__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    transition: max-height .2s ease;
}

.results__column {
    max-width: 360px;
    margin-bottom: 50px;
    padding-left: 50px;
}

.item-results {
    display: flex;
    flex-wrap: wrap;
}

.item-results__title {
    padding-left: 15px;
    width: 80%;
    font-weight: 500;
    font-size: 19px;
    color: #005C9D;
    margin-bottom: 10px;
}

.item-results__title-limit{
    flex-grow: 1;
}

.item-results__text {
    max-width: 278px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    flex-grow: 1;
    padding-top: 10px;
}

.title-block {
    position: relative;
    max-width: 870px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #013C66;
    padding-bottom: 20px;
    margin: 0 auto 51px;
}

.title-block::after{
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    max-width: 320px;
    bottom: 0;
    height: 5px;
    background-color: #74D6F8;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.results__button{
    display: none;
}

.results__button > button{
    font-weight: 700;
    font-size: 18px;
    color: #005C9D;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.arrow-down--active{
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}

/* Section invitation */

.section-invitation{
    max-width: 1920px;
    height: 412px;
    margin: 0 auto;
    background: url("../images/invitation.jpg") 50% / cover no-repeat;
    background-blend-mode: luminosity;
    overflow: hidden;
}

.invitation__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #74D6F8;
    align-items: center;
    text-align: center;
    padding: 32px 0;
}

.invitation__subtitle {
    max-width: 1025px;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    padding: 0 5px 31px 20px;
    margin: 0 auto;
}
.invitation__list {
    display: flex;
    flex-direction: column;
    padding: 0 0 35px 50px;
}

.invitation__list-item {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.invitation__list-item > p {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-left: 22px;
    margin: 0;
}

.invitation__list-item > img {
    width: 24px;
    height: 24px;
}

.invitation__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invitation__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.invitation__link > a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    color: #74D6F8;
    padding-right: 11px;
}

.invitation__link > svg {
    align-items: center;
    width: 34px;
    height: 22px;
    padding-top: 3px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.invitation__link:hover svg{
    transform: translate3d(15px, 0, 0);
    transition: all .2s ease-in-out;
}

.invitation__link:hover svg path{
    fill: #005C9D;
    transition: all .2s ease-in-out;
}

.invitation__link:hover > a{
    color: #005C9D;
    transition: all .2s ease-in-out;
}

/* Section blog-webinars */

.blog-webinars{
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
}

.container-body{
    display: flex;
    padding-top: 75px;
    margin-bottom: 65px;
    justify-content: space-between;
}

.blog__slider{
    display: none;
}

.blog__content{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
}

.blog__content-item{
    box-sizing: border-box;
    max-width: 263px;
    padding-bottom: 31px;
}

.title-style{
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #005C9D;
    padding-bottom: 13px;
}

.title-style::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 100%;
    bottom: 0;
    height: 5px;
    left: 0;
    background-color: #74D6F8;
}

.blog__content-date{
    font-weight: 400;
    font-size: 14px;
    color: #aaa;
    padding-top: 8px;
}

.blog__content-name{
    font-weight: 600;
    font-size: 18px;
    color: #005C9D;
    padding-top: 11px;
    cursor: pointer;
}

.blog__content-name:hover{
    color: #078EEE;
    transition: all .2s ease-in-out;
}

.blog__button{
    padding-top: 30px;
}

.webinars{
    width: 555px;
    margin-left: 10px;
}

.webinars__content{
    box-sizing: border-box;
    border: 1px solid #005C9D;
    border-radius: 5px;
    margin: 23px 0 144px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 66px 32px;
}

.webinars__title{
    margin-left: 5px;
}

.webinars__content-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.webinars__content-text{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #005C9D;
    max-width: 390px;
    cursor: pointer;
}

.webinars__content-text:hover{
    color: #078EEE;
    transition: all .2s ease-in-out;
}

.webinars__content-date{
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding-left: 5px;
}

.line{
    /*max-width: 439px;*/
    max-width: 490px;
    border: 1px solid #74D6F8;
    margin: 40px 0;
}

.line2{
    margin-bottom: 67px;
}

.webinars__button{
    display: flex;
    justify-content: end;
}

.webinars__button-style{
    text-transform: uppercase;
    width: 263px;
    height: 60px;
    border-radius: 3px;
    background-color: #005C9D;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    margin-right: -3px;
}

.webinars__button-style:hover{
    background-color: #078EEE;
}

.webinars__button-style:active{
    background-color: #006AB6;
}

/* Section our-results */

.our-results{
    max-width: 1920px;
    margin: 0 auto;
}

.results-content{
    max-width: 1770px;
    margin: 0 auto;
    z-index: 500;
}

.our-results__background{
    width: 80%;
    height: 660px;
    margin: 40px auto 0;
    background: url("../images/our-results.jpg") 50%/cover no-repeat ;
    background-size: contain;
    background-blend-mode: luminosity;
    z-index: 501;
}

.title-style-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 100;
}

.item-results__icon > img {
    width: 50px;
    height: 50px;
}

/* Section our-clients */

.our-clients{
    max-width: 1920px;
    height: 398px;
    margin: 40px auto 0;
}

.our__clients-slider{
    display: none;
}

.our-clients__title{
    margin-bottom: 40px;
}

.our-clients__logos1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.our-clients__logos2{
    display: flex;
    justify-content: space-between;
}

.our-clients__lgos-item{
    display: flex;
    align-items: center;
}

.logo-item{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.logo-item:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all .3s ease-in-out;
}

/* Section cooperation */

.cooperation__slider{
    display: none;
}

.cooperation{
    max-width: 1920px;
    height: 584px;
    margin: 0 auto;
    border-bottom: 3px solid #005C9D;
}

.container-cooperation{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.cooperation__title{
    color: #005C9D;
    padding: 44px 0 17px;
}

.cooperation__cards{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    min-height: 373px;
}

.card-item{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

.card-item__title{
    margin: 0 auto;
    position: relative;
    text-align: center;
    height: 106px;
    max-width: 276px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 33px 0 25px;
    text-transform: uppercase;
}

.card-item__title::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 147px;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
    bottom: 0;
    left: 23%;
}
.castom-titile{
    max-width: 261px;
}

.card-item__list{
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
}
.card-item__list1{
    padding: 19px 5px 0 46px;
}

.card-item__list2{
    padding: 19px 5px 0 40px;
}

.card-item__list3{
    padding: 19px 5px 0 50px;
}

.card-item__list > ul > li {
    padding-bottom: 5px;
    list-style-type: initial;
}

.card-item__list > ul > li::marker,
.card-item__list3 > ul > li::marker {
    font-size: 27px;
}

.card-item__list > ul > li::marker {
    color: #005C9D;
}

.card-item__list3 > ul > li::marker {
    color: #74D6F8;
}

.card-item__background1,
.card-item__background2,
.card-item__background3 {
    transition: all .2s ease-in-out;
    border-radius: 5px;
    height: calc(100% - 88px);
    cursor: pointer;
    padding-bottom: 33px;
    box-sizing: border-box;
}

.card-item__background1{
    background: linear-gradient(0deg, rgba(68, 164, 220, .87), rgba(68, 164, 220, .87)), url('../images/cooperation/bg-card1.png');
}

.card-item:hover .card-item__background1{
    background: linear-gradient(0deg, rgba(42, 95, 125, .87), rgba(42, 95, 125, .87)), url('../images/cooperation/bg-card1.png');
}

.card-item:hover .card-item__background1 ul > li::marker {
    color: #59ACDD;
}

.card-item:hover .card-item__background2 ul > li::marker {
    color: #55BDE1;
}

.card-item__background2{
    background: linear-gradient(0deg, rgba(34, 175, 223, .74), rgba(34, 175, 223, .74)), url('../images/cooperation/bg-card2.png');
}

.card-item:hover .card-item__background2{
    background: linear-gradient(0deg, rgba(21, 86, 108, .74), rgba(21, 86, 108, .74)), url('../images/cooperation/bg-card2.png');
}

.card-item__background3{
    background: linear-gradient(0deg, rgba(0, 92, 157, .63), rgba(0, 92, 157, .63)), url('../images/cooperation/bg-card3.png');
}

.card-item:hover .card-item__background3{
    background: linear-gradient(0deg, rgba(0, 34, 57, .63), rgba(0, 34, 57, .63)), url('../images/cooperation/bg-card3.png');
}

.card-item__button{
    background:  #005C9D;
    box-shadow: 0 9px 10px rgba(0, 0, 0, .25);
    border-radius: 5px;
    margin-top: auto;
    height: 70px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 0 22px;
    transition: all .2s ease-in-out;
}
.card-item:hover .card-item__button{
    box-shadow: -6px -6px 13px rgba(0, 0, 0, .25), 9px 16px 36px rgba(0, 0, 0, .25);
}

.slider__card-logo-img {
    padding: 10px 18px 0;
}

.slider__card-logo-img-size {
    width: 150px;
    height: 55px;
    object-fit: contain;
}

/* Section contact-footer */

.contact-footer{
    max-width: 1920px;
    margin: 0 auto;
    border-bottom: 1px solid #005C9D;
}

.contact__columns{
    display: flex;
    padding-top: 43px;
}

.cloumn__contact{
    min-width: 263px;
}

.contact-list{
    display: flex;
}

.cloumn__contact-location{
    margin-top: 18px;
}

.location,
.mail,
.chat{
    margin-left: 3px;
}

.location{
    font-weight: 300;
    font-size: 16px;
    color: #000;
    max-width: 229px;
    padding-bottom: 7px;
}

.locImg{
    padding-top: 5px;
}

.cloumn__contact-mail{
    margin-bottom: 7px;
}

.mail{
    padding-top: 7px;
}

.chat{
    padding-top: 4px;
}

.mail,
.chat {
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    color: #005C9D;
}

.mail:hover,
.chat:hover {
    color: #078EEE;
}

.cloumn__contact-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    max-width: 235px;
}

.column__title{
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #005C9D;
    padding-top: 18px;
}

.column__menu{
    padding-top: 25px;
    font-weight: 400;
    font-size: 16px;
}

.column__company{
    padding-left: 31px;
}

.column__platform{
    padding-left: 77px;
}

.column__partners{
    padding-left: 82px;
}

.column__study{
    padding-left: 22px;
}

.column__menu > ul > li{
    padding-bottom: 20px;
}
.column__menu > ul > li > a:hover{
    color: #005C9D;
}

.footer-list-mobile,
.company-list,
.platform-list,
.partners-list,
.study-list,
.popup-list,
.contact__footer-small {
    display: none;
}

.column__mobile-img > img {
    transition: all .2s ease-in-out;
}
.active-img{
    transform: rotate(90deg);
    transition: all .2s ease-in-out;
}
.cloumn__contact-social > a:hover svg path{
    transition: all .2s ease-in-out;
    fill: #078EEE;
}

/* Section contact-footer */

/* Footer */

.footer{
    max-width: 1920px;
    height: 104px;
    margin: 0 auto;
}

.footer__content{
    display: flex;
}

.footer__reserved{
    padding: 45px 0 0 14px;
    font-weight: 300;
    font-size: 16px;
}

.footer__link-group{
    padding-top: 19px;
    font-weight: 300;
    font-size: 14px;
    text-decoration: underline;
    color: #005C9D;
}

.footer__link-group > ul > li {
    padding-bottom: 15px;
}
.footer__link-group > ul > li:hover{
    color: #078EEE;
}

.group1{
    padding-left: 254px;
}

.group2{
    padding-left: 64px;
}

/* Section blog */

.section-blog{
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
}

.blog__slider{
    display: none;
}

.blog{
    display: flex;
    align-items: center;
    flex-direction: column;
}
