.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    padding-top: 32px;
    max-width: 1920px;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.language-img-mobile{
    display: none;
}

.nav1{
    margin-bottom: 15px;
}
.logo-img{
    max-height: 79px;
}

.menu-list{
    display: flex;
    padding: 0 15px;
}
.menu-item{
    margin: 0px 0px 0px 40px;
}

.menu-link:hover{
    color: #005C9D;
}

.menu-icon{
    display: none;
}
.popup{
    display: none;
}
.popup-language{
    display: none;
}

.search-input{
    width: 281px;
    height: 40px;
    border-radius: 10px;
    padding-left: 18px;
    border: 2px solid #DDDDDD;
    margin-left: 31px;
    font-size: 18px;
    color:  #A1A5A8;
}
.search-input:focus{
    outline: #C6C6C6;
    color:  #000000;
}

.call{
    font-size: 18px;
    font-weight: bold;
    color: #005C9D;
    margin-right: auto;
    margin-left: 140px;
    text-decoration: underline;
    padding: 5px;
}
.call:hover{
    color: #078EEE;
}

.contact-us{
    max-width: 1920px;
    margin: 0  auto;
    background-color: #005C9D;
    /* margin-top: 5px; */
}
.container__contact{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
.contact__content{
    box-sizing: border-box;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-contact{
    box-sizing: border-box;
    max-width: 768px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 10px;
    padding: 20px 0px 20px 3px;
}
.button-contact{
    text-transform: uppercase;
    min-width: 206px;
    min-height: 47px;
    border-radius: 3px;
    background-color: #74D6F8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    margin-right: 30px;
}


.language-list{
    display: none;
}
.language-popup{
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

  .popup-language.open-lang{
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: 50px;
    width: 183px;
    height: 252px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    z-index: 101;
    display: flex;
    transition: all .2s ease-in-out;
  }


  .popup-language .language-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: 0;
    transition: all .2s ease-in-out;
    padding: 17px 0px 10px 0px;
  }


  .language-item {
    width: 134px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 0 10px 0;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.language-item:hover{
    color:  #078EEE;
}
.lang {
    margin: 0;
    padding-left: 28px;
} 


/* Section results */

.section-results {
    max-width: 1920px;
    margin: 0 auto;
}
.results {
    margin: 72px 0px 22px 0px; 
}

.results__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    transition: max-height .2s ease;
}
.results__column {
    max-width: 360px;
    margin-bottom: 50px;
}
.item-results {
    display: flex;
    flex-wrap: wrap;
}

.item-results__title {
    padding-left: 15px;
    width: 80%;
    font-weight: 500;
    font-size: 24px;
    color: #005C9D;
    margin-bottom: 10px;
}
.item-results__title-limit{
    max-width: 175px;
}
.item-results__text {
    margin-left: 80px;
    /* width: 100%; */
    max-width: 278px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.title-block {
    position: relative;
    max-width: 870px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #013C66;
    padding: 0px 0px 20px 0px;
    margin: 0 auto;
    margin-bottom: 51px;
}
.title-block::after{
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    max-width: 320px;
    bottom: 0;
    height: 5px;
    background-color: #74D6F8;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.results__button{
    display: none;
}   

.results__button > button{
    font-weight: 700;
    font-size: 18px;
    color: #005C9D;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.arrow-down--active{
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}
/* Section results */


/* Section invitation */
.section-invitation{
    max-width: 1920px;
    height: 677px;
    margin: 0 auto;
    background: url("../images/invitation.jpg") 50%/cover no-repeat ;
    background-blend-mode: luminosity;
    overflow: hidden;
}
.invitation__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    color: #74D6F8;
    align-items: center;
    text-align: center;
    padding: 114px 0px 41px 0px;
}
.invitation__subtitle {
    max-width: 1025px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    padding: 0px 5px 45px 20px; 
    margin: 0 auto;
}
.invitation__list {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px 50px;
}
.invitation__list-item {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.invitation__list-item > p {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding: 0px 0px 0px 22px;
    margin: 0;
}
.invitation__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.invitation__link > a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #74D6F8;
    padding-right: 25px;
}
.invitation__link > svg {
    align-items: center;
    padding-top: 3px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.invitation__link:hover svg{
    transform: translate3d(15px, 0, 0);
    transition: all .2s ease-in-out;
}
.invitation__link:hover svg path{
    fill: #005C9D;
    transition: all .2s ease-in-out;
}
.invitation__link:hover > a{
    color: #005C9D;
    transition: all .2s ease-in-out;
}



/* Section invitation */


/* Section blog */

.section-blog{
    max-width: 1920px;
    /* height: 882px; */
    height: auto;
    margin: 0 auto;
}
.container-body{
    display: flex;
    padding-top: 75px;
    margin-bottom: 65px;
    justify-content: space-between;
}

.blog__slider{
    display: none;
}

.blog{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog__content{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0px 0px 0px;
}

.blog__content-item{
    box-sizing: border-box;
    max-width: 263px;
    padding-bottom: 31px;
}

.title-style{
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #005C9D;
    padding: 0px 0px 13px 0px;
}
.title-style::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 100%;
    bottom: 0;
    height: 5px;
    left: 0;
    background-color: #74D6F8;
}

.blog__content-date{
    font-weight: 400;
    font-size: 14px;
    color: #AAAAAA;
    padding-top: 8px;
}

.blog__content-name{
    font-weight: 600;
    font-size: 18px;
    color: #005C9D;
    padding-top: 11px;
    cursor: pointer;
}
.blog__content-name:hover{
    color: #078EEE;
    transition: all .2s ease-in-out;
}

.blog__button{
    padding-top: 30px;
}

/* Section blog */



/* Section our-results */

.our-results{
    max-width: 1920px;
    margin: 0 auto;
    /* height: 1057px; */
}
.results-content{
    max-width: 1770px;
    height: 1057px;
    margin: 0 auto;
    z-index: 500;
}
.our-results__background{
    width: 100%;
    height: 100%;
    /* height: 1084px;  */
    margin: 0 auto;
    background: url("../images/our-results.jpg") 50%/cover no-repeat ;
    /* background: url("../images/our-results.jpg") no-repeat ; */
    background-size: contain;
    background-blend-mode: luminosity;
    z-index: 501;
    /* margin-top: -33px; */
    /* margin-left: -15px; */
}

.title-style-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 100;
}

/* Section our-results */


/* Section our-clients */

.our-clients{
    max-width: 1920px;
    height: 398px;
    margin: 0 auto;
}

.our__clients-slider{
    display: none;
}

.our-clients__title{
    margin-bottom: 40px;
}

.our-clients__logos1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.our-clients__logos2{
    display: flex;
    justify-content: space-between;
}

.our-clients__lgos-item{
    display: flex;
    align-items: center;
}

.logo-item{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.logo-item:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all .3s ease-in-out;
}


/* Section our-clients */


/* Section cooperation */

.cooperation__slider{
    display: none;
}

.cooperation{
    max-width: 1920px;
    height: 658px;
    margin: 0 auto;
    border-bottom: 3px solid #005C9D;
}
.container-cooperation{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
.cooperation__title{
    color: #005C9D;
    padding: 44px 0px 17px 0px;
}


.cooperation__cards{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
} 

 .card-item{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 380px;
    padding: 0px 10px 0px 10px;
}

.card-item__title{
    margin: 0  auto;
    position: relative;
    text-align: center;
    max-width: 276px;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding: 33px 0px 25px 0px;
}
.card-item__title::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 147px;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
    bottom: 0;
    left: 23%;
}
.castom-titile{
    max-width: 261px;
}

.card-item__list{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.card-item__list1{
    padding: 19px 5px 0px 46px;
}

.card-item__list2{
    padding: 19px 5px 0px 40px;
}

.card-item__list3{
    padding: 19px 5px 0px 50px;
}

.card-item__list > ul > li {
    padding-bottom: 20px;
    list-style-type: initial;
}
.card-item__list > ul > li::marker {
    font-size: 27px;
    color:#005C9D;
}
.card-item__list3 > ul > li::marker {
    font-size: 27px;
    color: #74D6F8;;
}


.card-item__background1{
    transition: all .2s ease-in-out;
    border-radius: 5px;
    height: 305px;
    background: linear-gradient(0deg, rgba(68, 164, 220, 0.87), rgba(68, 164, 220, 0.87)), url('../images/cooperation/bg-card1.png');
}
.card-item:hover .card-item__background1{
    transition: all .2s ease-in-out;
    background: linear-gradient(0deg, rgba(42, 95, 125, 0.87), rgba(42, 95, 125, 0.87)), url('../images/cooperation/bg-card1.png');
}
.card-item__background2{
    transition: all .2s ease-in-out;
    border-radius: 5px;
    height: 305px;
    background: linear-gradient(0deg, rgba(34, 175, 223, 0.74), rgba(34, 175, 223, 0.74)), url('../images/cooperation/bg-card2.png');
}
.card-item:hover .card-item__background2{
    transition: all .2s ease-in-out;
    background: linear-gradient(0deg, rgba(21, 86, 108, 0.74), rgba(21, 86, 108, 0.74)), url('../images/cooperation/bg-card2.png');
}
.card-item__background3{
    transition: all .2s ease-in-out;
    border-radius: 5px;
    height: 305px;
    background: linear-gradient(0deg, rgba(0, 92, 157, 0.63), rgba(0, 92, 157, 0.63)), url('../images/cooperation/bg-card3.png');
}
.card-item:hover .card-item__background3{
    transition: all .2s ease-in-out;
    background: linear-gradient(0deg, rgba(0, 34, 57, 0.63), rgba(0, 34, 57, 0.63)), url('../images/cooperation/bg-card3.png');
}

.card-item__button{
    background:  #005C9D;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 18px;
    height: 100px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0px 22px;
    transition: all .2s ease-in-out;
}
.card-item:hover .card-item__button{
    box-shadow: -6px -6px 13px rgba(0, 0, 0, 0.25), 9px 16px 36px rgba(0, 0, 0, 0.25);
}

/* Section cooperation */


/* Section contact-footer */

.contact-footer{
    max-width: 1920px;
    height: 333px;
    margin: 0 auto;
    border-bottom: 1px solid #005C9D;
}

.contact__columns{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 43px;
}

.cloumn__contact{
    min-width: 263px;
}
.contact-list{
    display: flex;
}
.cloumn__contact-location{
    margin-top: 18px;
}

.location, .mail, .chat{
    margin-left: 3px;
}
.location{
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    max-width: 229px;
    padding-bottom: 7px;
}
.locImg{
    padding-top: 5px;
}
.cloumn__contact-mail{
    margin-bottom: 7px;
}
.mail{
    padding-top: 7px;
}
.chat{
    padding-top: 4px;
}
.mail, .chat {
    font-weight: 700;
    font-size: 16px;
    text-decoration-line: underline;
    color: #005C9D;
}
.mail:hover, .chat:hover {
    color: #078EEE;
}

.cloumn__contact-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    max-width: 235px;
}

.column__title{
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #005C9D;
    padding-top: 18px;
}
.column__menu{
    padding-top: 25px;
    font-weight: 400;
    font-size: 16px;
}

.column__company{
    padding-left: 31px;
}
.column__platform{
    padding-left: 77px;
}
.column__partners{
    padding-left: 82px;
}
.column__study{
    padding-left: 22px;
}


.column__menu > ul > li{
    padding-bottom: 20px;
}
.column__menu > ul > li > a:hover{
    color: #005C9D;
}

.footer-list-mobile{
    display: none;
}
.company-list {
    display: none;
}
.platform-list{
    display: none;
}
.partners-list{
    display: none;
}
.study-list{
    display: none;
}
.popup-list{
    display: none;;
}
.contact__footer-small{
    display: none;
}
.column__mobile-img > img {
    transition: all .2s ease-in-out;
}
.active-img{
    transform: rotate(90deg);
    transition: all .2s ease-in-out;
}
.cloumn__contact-social > a:hover svg path{
    transition: all .2s ease-in-out;
    fill: #078EEE;
}


/* Section contact-footer */

/* Footer */
.footer{
    max-width: 1920px;
    height: 285px;
    margin: 0 auto;
}

.footer__content{
    display: flex;
}

.footer__reserved{
    padding: 45px 0px 0px 14px;
    font-weight: 300;
    font-size: 16px;
}

.footer__link-group{
    padding-top: 19px;
    font-weight: 300;
    font-size: 14px;
    text-decoration-line: underline;
    color: #005C9D;
}

.footer__link-group > ul > li {
    padding-bottom: 15px;
}
.footer__link-group > ul > li:hover{
    color: #078EEE;
}
.group1{
    padding-left: 254px;
}
.group2{
    padding-left: 64px;
}

/* Footer */
